:root { 
--bluegray_50:#eaecf0; 
--gray_901:#17202e; 
--gray_902:#0d1624; 
--gray_900:#141e2b; 
--bluegray_100:#d6dae2; 
--gray_50:#f8f9fa; 
--bluegray_900:#29313e; 
--bluegray_700:#424c5d; 
--bluegray_600:#5f6c86; 
--black_900:#000919; 
--bluegray_300:#9ea8ba; 
--black_901:#000000; 
--white_A700:#ffffff; 
--bluegray_901:#262b35; 
}