
 @font-face { font-style : bold; src: url("assets/fonts/SpaceGroteskMedium.ttf"); font-family : "Space Grotesk"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/OpenSansRomanSemiBold.ttf"); font-family : "Open Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/PublicSansLight.ttf"); font-family : "Public Sans"; font-weight : 300;  }
 @font-face { font-style : bold; src: url("assets/fonts/PublicSansMedium.ttf"); font-family : "Public Sans"; font-weight : 500;  }